# Composer
/vendor/

# Logs
*.log

# Env
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.bak
*.tmp
*.swp

# Banco de dados local (opcional)
*.sql
*.sqlite

